* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.logo-photo {
  width: 100%;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
}

.nav-link,
.dropdown-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.55);
  cursor: pointer;
}
.nav-link:hover,
.dropdown-text:hover {
  color: #fff;
}

.navbar-dark {
  background-color: #0077b6;
}

.text-bg {
  background-color: #0077b6;
}

.hero {
  background-image: radial-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.43)), url("https://images.squarespace-cdn.com/content/v1/60c8fdcaee112d5cb209f019/0a550765-c435-4c79-80b9-9b6c34760378/KAP_ICSSI_2022_06_07-037.jpg?format=2500w");
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  place-content: center;
}
.hero .title {
  font-weight: 600;
  font-size: 75px;
  line-height: 100%;
  color: #fff;
  margin-top: 50px;
  text-align: center;
}
.hero .subtitle {
  font-weight: 500;
  font-size: 30px;
  line-height: 100%;
  color: #fff;
  max-width: 800px;
  margin-top: 20px;
  text-align: center;
}
@media (max-width: 1024px) {
  .hero .title {
    font-weight: 600;
    font-size: 60px;
    line-height: 100%;
    color: #fff;
  }
  .hero .subtitle {
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
    color: #fff;
    max-width: 800px;
    margin-top: 20px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .hero .title {
    font-weight: 600;
    font-size: 40px;
    line-height: 100%;
    color: #fff;
  }
  .hero .subtitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color: #fff;
    max-width: 800px;
    margin-top: 20px;
    text-align: center;
  }
}
@media (max-width: 478px) {
  .hero .title {
    font-weight: 600;
    font-size: 30px;
    line-height: 100%;
    color: #fff;
  }
  .hero .subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #fff;
    max-width: 800px;
    margin-top: 20px;
    text-align: center;
  }
}

.about-us_section {
  padding: 40px 0;
}
.about-us_section .subtitle-wrapper {
  padding: 21px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  color: #000000;
  font-family: "PTSerif";
  background-color: #eff2f8;
}
.about-us_section .about-us_title {
  font-weight: 400;
  font-size: 34px;
  margin-bottom: 20px;
}
.about-us_section .about-us_subtitle {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.4;
  color: #6c757d;
  text-align: justify;
}
.about-us_section .about-us_h3 {
  font-size: 34px;
  font-weight: 400;
  margin: 30px 0;
}
.about-us_section p {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.4;
  color: #6c757d;
  text-align: justify;
}
@media (max-width: 768px) {
  .about-us_section .about-us_h3 {
    font-size: 28px;
    margin: 20px 0;
    text-align: center;
  }
  .about-us_section p {
    font-size: 20px;
  }
  .about-us_section .about-us_title {
    font-size: 28px;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .about-us_section .about-us_h3 {
    font-size: 24px;
    margin: 20px 0;
    text-align: center;
  }
  .about-us_section p {
    font-size: 18px;
  }
  .about-us_section .about-us_title {
    font-size: 24px;
    text-align: center;
  }
}

.index-section {
  padding: 40px 0 0;
  margin-bottom: 80px;
}
.index-section .index-title {
  font-weight: 300;
  font-size: 3.5rem;
  line-height: 1.2;
  color: #000;
  text-align: center;
  margin-bottom: 30px;
}
.index-section .wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.index-section .wrapper img {
  height: 100%;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.index-section .wrapper img:hover {
  transform: scale(1.2);
}
@media (max-width: 768px) {
  .index-section .index-title {
    font-weight: 300;
    font-size: 2.5rem;
    line-height: 1.2;
    color: #000;
  }
}
@media (max-width: 530) {
  .index-section .index-title {
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.2;
    color: #000;
  }
}

.post-section {
  padding: 20px 0;
}
.post-section .post-section__title {
  font-weight: 400;
  font-size: 34px;
  line-height: 100%;
  color: #000;
  margin-bottom: 20px;
}
.post-section .post {
  cursor: pointer;
  display: flex;
  background-color: #eff2f8;
  gap: 40px;
  border-radius: 10px;
  overflow: hidden;
}
.post-section .post .img-container {
  width: 40%;
  height: 300px;
}
.post-section .post .img-container img {
  width: 100%;
  height: 100%;
}
.post-section .post .info-container {
  padding: 20px;
}
.post-section .post .info-container .info-title {
  margin: 12px 0 20px;
  font-weight: 600;
}
.post-section .post .info-container .info-subtitle {
  max-width: 400px;
}
@media (max-width: 768px) {
  .post-section .post {
    gap: 30px;
  }
  .post-section .post .img-container {
    width: 80%;
  }
  .post-section .post .img-container img {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 576px) {
  .post-section .post-section__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color: #000;
    margin-bottom: 20px;
    text-align: center;
  }
  .post-section .post {
    display: block;
    gap: 30px;
  }
  .post-section .post .img-container {
    width: 100%;
  }
  .post-section .post .img-container img {
    width: 100%;
    height: 100%;
  }
  .post-section .post .info-container {
    padding: 20px;
  }
  .post-section .post .info-container .info-title {
    margin: 12px 0 20px;
    font-weight: 600;
    text-align: center;
  }
  .post-section .post .info-container .info-subtitle {
    max-width: 100%;
    text-align: center;
  }
}

.footer_data {
  color: #fff;
  font-weight: 600;
}
.footer_data a {
  color: #fff;
  font-weight: 400;
  margin-left: 7px;
}

.post-section__title {
  margin: 140px 0 10px;
  font-size: 22px;
  line-height: 33px;
}

.conferences {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 30px;
}
.conferences .post {
  cursor: pointer;
  display: flex;
  background-color: #eff2f8;
  gap: 40px;
  border-radius: 10px;
  overflow: hidden;
}
.conferences .post .img-container {
  width: 40%;
  height: 300px;
}
.conferences .post .img-container img {
  width: 100%;
  height: 100%;
}
.conferences .post .info-container {
  padding: 20px;
}
.conferences .post .info-container .info-title {
  margin: 12px 0 20px;
  font-weight: 600;
}
.conferences .post .info-container .info-subtitle {
  max-width: 400px;
}
@media (max-width: 768px) {
  .conferences .post {
    gap: 30px;
  }
  .conferences .post .img-container {
    width: 80%;
  }
  .conferences .post .img-container img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 576px) {
  .conferences .post-section__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color: #000;
    margin-bottom: 20px;
    text-align: center;
  }
  .conferences .post {
    display: block;
    gap: 30px;
  }
  .conferences .post .img-container {
    width: 100%;
  }
  .conferences .post .img-container img {
    width: 100%;
    height: 100%;
  }
  .conferences .post .info-container {
    padding: 20px;
  }
  .conferences .post .info-container .info-title {
    margin: 12px 0 20px;
    font-weight: 600;
    text-align: center;
  }
  .conferences .post .info-container .info-subtitle {
    max-width: 100%;
    text-align: center;
  }
}

.pagenumbers {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-bottom: 20px;
}
.pagenumbers button {
  width: 50px;
  height: 50px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #44aaee;
  margin: 5px;
  transition: 0.4s;
  color: #fff;
  font-size: 18px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.pagenumbers button:hover {
  background-color: #44eeaa;
}

.pagenumbers button.active {
  background-color: #44eeaa;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.inside {
  margin-top: 150px;
}
@media (max-width: 576px) {
  .inside .inside-title {
    font-size: 18px;
  }
}
.inside .single-content .main-img {
  padding: 20px 100px;
}
.inside .single-content .main-img .book {
  height: 600px;
}
@media (max-width: 450px) {
  .inside .single-content .main-img .book {
    height: 400px;
  }
}
@media (max-width: 1024px) {
  .inside .single-content .main-img {
    padding: 10px 20px;
  }
}
.inside .single-content .inside-title {
  margin: 20px 0;
  text-align: center;
  display: block;
}
.inside .single-content .my_btn {
  width: 100%;
  padding: 5px;
  background: #0077b6;
  line-height: 30px;
  overflow: hidden;
  cursor: pointer;
  outline: none;
  text-align: center;
  font-size: 14px;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media (max-width: 576px) {
  .inside .single-content .my_btn {
    font-size: 12px;
    font-weight: 400;
  }
}
.inside .sections {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;
}
.inside .sections .row {
  border-left: 5px solid #0077b6;
}
.inside .sections .article a {
  font-size: 16px;
  text-decoration: none;
  color: black;
}
.inside .sections .article a:hover {
  text-decoration: underline;
}
.inside .sections .read_btn {
  padding: 0 12px;
  margin-top: 10px;
}
.inside .sections .read_btn a {
  width: 100%;
  text-decoration: none !important;
  padding: 5px;
  background: #0077b6;
  line-height: 30px;
  overflow: hidden;
  cursor: pointer;
  outline: none;
  text-align: center;
  font-size: 14px;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
}
@media (max-width: 576px) {
  .inside .sections .section-title {
    font-size: 18px;
  }
  .inside .sections .article a {
    font-size: 14px;
  }
  .inside .sections .read_btn a {
    font-size: 12px;
    font-weight: 400;
  }
}/*# sourceMappingURL=main.css.map */